*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
   text-decoration: none;
}

body{
    margin: 10px;
    font-style: Roboto;
    background-color: #edeef0;
}

h1 {font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 1.75em;}
p{font-size: 1.25em;}
ul{list-style:none;}

.boton{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: #04a7a5;
}

.contenedor {
    max-width: 1400px;
    margin: auto;
}

header {
    margin: -10px;
    background-color: #edeef0;
}

header .logo {
    margin: 0;
    padding: 25px 10px;
}

header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor__logo{
    width: 300px;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header a{
    font-size: 1.5em;
    padding: 5px 5px;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #04a7a5;
}

.hero{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero__titulo{
    display: flex;
    position: sticky;
    color: #edeef0;
    left: 5px;
    bottom: 250px;
    text-align: center;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0);
    padding: 100px;
}

#sobre-nosotros{  
    margin: 0px 0px 500px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.sobre-nosotros-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-nosotros__titulo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #04a7a5;
}


#mas-productos{


    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mas-productos__titulo{
    margin: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #04a7a5;
}
.mas-productos-contenedor{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mas-productos__img{
    width: 560px;
    height: 560px;
    display: flex;
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    size: 90vh;
}
.mas-productos__img:hover {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
    
}
.mas-productos__boton{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: #04a7a5;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 40%;
}
.mas-productos__boton:hover{
    -webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%);
}

#contactanos{
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contactanos__titulo{
    margin: 50px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #04a7a5;
}

.contactanos__img{
    width: 35em;
    height: auto;
    display: flex;
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    size: 90vh;
}

.contactanos__img:hover{
    -webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

.contactanos__boton{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: #04a7a5;
    align-items: center;
    position: absolute;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.contactanos__boton:hover{
    -webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    font-size: 1.5em;
    padding: 5px 5px;
    font-weight: bold;
    text-decoration: none;
}

footer a{
    color: black;
}

footer a:hover{
    color: #04a7a5;
}
.lista1__titulo{
    color: #04a7a5;
}

.lista2__titulo{
    color: #04a7a5;
}

.galeria-grilla{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
    padding: 20px;
}
.galeria-grilla__img{
    display: flex;
    margin: 0px 0px 40px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.galeria-grilla__img:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

.galeria-grilla__text{
    
    display: flex;
    position: relative;
    top: 55%;
    color: #04a7a5;
    text-decoration: underline;
    font-size: 2em;
    font-weight: bold;
    font-family: Roboto;
}

.titulo-seccion{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #04a7a5;
}

.formulario{
    display: flex;
    justify-content: center;
    background-color: #edeef0;
	border-radius: 3px;
	font-size: 1.25em;
    font-weight: bold;
    font-family: Roboto;
    color: #04a7a5;
	padding: 20px;
	margin: 10px auto;
	width: 300px;
}
.formulario-titulo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #04a7a5;
}


seriaP
.formulario__label{
    font-size: 2em;
    font-weight: bold;
    font-family: Roboto;
}
field
.formulario__input{
    border: solid 1px #999;
    padding: 10px;
}

.formulario__input:focus{
    border-color: #04a7a5;
}

.formulario__boton{
    border-radius: 3px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
    color: white;
	background-color: #04a7a5;
}

.formulario__boton:hover{
	background-color: #04a7a498;	
}
.formulario__boton:active{
	background-color: #04deda;
}

.formulario__box{
    padding: 10px 0px 0px 0px;
}

.politicas{
    margin: 300px;
}
.politicas-titulo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #04a7a5;
}

.envios{
    margin: 300px;
}

.envios-titulo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #04a7a5;
}

@media (min-width: 720px){

    header .contenedor{
        
        flex-direction: row;
        justify-content: space-between;
        
    }
    header nav{
        flex-direction: row;
        align-items: flex-end;
    }

    #sobre-nosotros{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 200px 1fr;
        grid-template-areas: 
        "titulo titulo"
        "foto texto";
    }
    
    .sobre-nosotros__titulo{
        grid-area: titulo;

    }
    .sobre-nosotros__img{
        display: flex;
        grid-area: foto;
    }
    .sobre-nosotros__texto{
        grid-area: texto;
    }
    #sobre-nosotros .sobre-nosotros__img{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("/assets/claudia.jpg");
        background-position: center center;
        height: 800px;
        width: 50%;
    }
    #sobre-nosotros .sobre-nosotros__texto{
        width: 50%;
        text-align: initial;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .lista1 {
        flex-direction: row;
        align-items: flex-end;
    }
    .grilla-sections{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #mas-productos{
        display: flex;
        align-items: center;
    }

}
