.color-fondo {
  background: #edeef0;
  background: -moz-linear-gradient(left, #edeef0 0%, #edeef0 41%, #edeef0 51%, #70e0de 96%, #76cccb 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #edeef0), color-stop(41%, #edeef0), color-stop(51%, #edeef0), color-stop(96%, #70e0de), color-stop(100%, #76cccb));
  background: -webkit-linear-gradient(left, #edeef0 0%, #edeef0 41%, #edeef0 51%, #70e0de 96%, #76cccb 100%);
  background: -o-linear-gradient(left, #edeef0 0%, #edeef0 41%, #edeef0 51%, #70e0de 96%, #76cccb 100%);
  background: -ms-linear-gradient(left, #edeef0 0%, #edeef0 41%, #edeef0 51%, #70e0de 96%, #76cccb 100%);
  background: linear-gradient(to right, #edeef0 0%, #edeef0 41%, #edeef0 51%, #70e0de 96%, #76cccb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeef0', endColorstr='#76cccb', GradientType=1 ); }

.color-titulo {
  color: #04a7a5; }

.contenedor__logo {
  width: 230px; }

.hero {
  margin: 20px 0px;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .hero__titulo {
    color: #edeef0;
    left: 5px;
    bottom: 250px;
    text-shadow: rgba(0, 0, 0, 0); }

.sobre-nosotros {
  padding: 200px; }
  .sobre-nosotros__titulo {
    display: flex;
    text-align: center; }
  .sobre-nosotros__img {
    display: none; }

.btn-custom-style {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: black;
  background-color: #04a7a5; }
  .btn-custom-style:hover {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%); }

@media (max-width: 768px) {
  .bloque-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center; } }

@media (min-width: 1024px) {
  .sobre-nosotros__img {
    display: block; } }

.galeria-grilla {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 20px;
  padding: 20px; }
  .galeria-grilla__img {
    display: flex;
    margin: 0px 0px 40px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .galeria-grilla__img:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }
  .galeria-grilla__text {
    display: flex;
    position: relative;
    top: 55%;
    color: #04a7a5;
    text-decoration: underline;
    font-size: 2em;
    font-weight: bold;
    font-family: Roboto; }

.titulo-seccion {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #04a7a5; }

.formulario {
  display: flex;
  justify-content: center;
  background-color: #edeef0;
  border-radius: 3px;
  font-size: 1.25em;
  font-weight: bold;
  font-family: Roboto;
  color: #04a7a5;
  padding: 20px;
  margin: 10px auto;
  width: 300px; }
  .formulario-titulo {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #04a7a5; }
  .formulario__label {
    font-size: 2em;
    font-weight: bold;
    font-family: Roboto; }
  .formulario__input {
    border: solid 1px #999;
    padding: 10px; }
  .formulario__boton {
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #edeef0;
    background-color: #04a7a5; }
