$colores: (
    "celeste": #04a7a5,
    "blanco": #edeef0
);

.color{
    &-fondo{
        background: rgba(237,238,240,1);
    background: -moz-linear-gradient(left, rgba(237,238,240,1) 0%, rgba(237,238,240,1) 41%, rgba(237,238,240,1) 51%, rgba(112,224,222,1) 96%, rgba(118,204,203,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,238,240,1)), color-stop(41%, rgba(237,238,240,1)), color-stop(51%, rgba(237,238,240,1)), color-stop(96%, rgba(112,224,222,1)), color-stop(100%, rgba(118,204,203,1)));
    background: -webkit-linear-gradient(left, rgba(237,238,240,1) 0%, rgba(237,238,240,1) 41%, rgba(237,238,240,1) 51%, rgba(112,224,222,1) 96%, rgba(118,204,203,1) 100%);
    background: -o-linear-gradient(left, rgba(237,238,240,1) 0%, rgba(237,238,240,1) 41%, rgba(237,238,240,1) 51%, rgba(112,224,222,1) 96%, rgba(118,204,203,1) 100%);
    background: -ms-linear-gradient(left, rgba(237,238,240,1) 0%, rgba(237,238,240,1) 41%, rgba(237,238,240,1) 51%, rgba(112,224,222,1) 96%, rgba(118,204,203,1) 100%);
    background: linear-gradient(to right, rgba(237,238,240,1) 0%, rgba(237,238,240,1) 41%, rgba(237,238,240,1) 51%, rgba(112,224,222,1) 96%, rgba(118,204,203,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeef0', endColorstr='#76cccb', GradientType=1 ); 
    }
    &-titulo{
        color: map-get($colores, "celeste");
    }
}

.contenedor__logo{
    width: 230px;
}

.hero{
    margin: 20px 0px;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__titulo{
        color: map-get($colores, "blanco");
        left: 5px;
        bottom: 250px;
        text-shadow: rgba(0,0,0,0);
    }
}


.sobre-nosotros{
    padding: 200px;
    &__titulo{
        display: flex;
        text-align: center;
    }
    &__img{
        display: none;
    }
}


.btn-custom-style{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: map-get($colores, "celeste");
    &:hover{
        -webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%);

    }
}

@media (max-width:768px){
    .bloque-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}
@media (min-width:1024px) {
    .sobre-nosotros__img {
        display: block;
      }
}

.galeria-grilla{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
    padding: 20px;
    &__img{
        display: flex;
    margin: 0px 0px 40px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    &__img:hover{
        filter: opacity(0.9);
        transform: scale(1.04);
    }
    &__text{
        display: flex;
    position: relative;
    top: 55%;
    color: map-get($colores, "celeste");
    text-decoration: underline;
    font-size: 2em;
    font-weight: bold;
    font-family: Roboto;
    }
}

.titulo-seccion{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: map-get($colores, "celeste");
}

.formulario{
    display: flex;
    justify-content: center;
    background-color: map-get($colores, "blanco");
	border-radius: 3px;
	font-size: 1.25em;
    font-weight: bold;
    font-family: Roboto;
    color: map-get($colores, "celeste");
	padding: 20px;
	margin: 10px auto;
	width: 300px;
    &-titulo{
        display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: map-get($colores, "celeste");
    }
    &__label{
        font-size: 2em;
    font-weight: bold;
    font-family: Roboto;
    }
    &__input{
        border: solid 1px #999;
    padding: 10px;
    }
    &__boton{
        border-radius: 3px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
    color: map-get($colores, "blanco");
	background-color: map-get($colores, "celeste");
    }
}