@import "./parciales/maps",
        "./parciales/mixins",
        "./parciales/contacto",
        "./parciales/global",
        "./parciales/header",
        "./parciales/hero",
        "./parciales/productos",
        "./parciales/sobre-nosotros",
        "./parciales/politicas",
        "./parciales/envios"

