.formulario{
    display: flex;
    justify-content: center;
    background-color: map-get($colores, "blanco");
	border-radius: 3px;
	font-size: 1.25em;
    font-weight: bold;
    font-family: Roboto;
    color: map-get($colores, "celeste");
	padding: 20px;
	margin: 10px auto;
	width: 300px;
    &-titulo{
        display: flex;
        @include centrado;
    color: map-get($colores, "celeste");
    }
    &__label{
        font-size: 2em;
    font-weight: bold;
    font-family: Roboto;
    }
    &__input{
        border: solid 1px #999;
    padding: 10px;
    }
    &__boton{
        border-radius: 3px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
    color: map-get($colores, "blanco");
	background-color: map-get($colores, "celeste");
    }
}