.hero{
    margin: 20px 0px;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__titulo{
        @include titulon;
        @include centrado;
        color: map-get($colores, "blanco");
        left: 5px;
        bottom: 250px;
        text-shadow: rgba(0,0,0,0);
    }
}