.politicas{
    display: flex;
    flex-direction: column;
    margin: 150px;
    &-titulo{
        padding: 150px;
        display: flex;
        @include titulon;
        @include centrado;
    color: map-get($colores, "celeste");

    }
}
