.galeria-grilla{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
    padding: 20px;
    &__img{
        display: flex;
    margin: 0px 0px 40px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    &__img:hover{
        filter: opacity(0.9);
        transform: scale(1.04);
    }
    &__text{
        display: flex;
    position: relative;
    top: 55%;
    color: map-get($colores, "celeste");
    text-decoration: underline;
    font-size: 2em;
    font-weight: bold;
    font-family: Roboto;
    }
}

.titulo-seccion{
    display: flex;
    @include centrado;
    color: map-get($colores, "celeste");
}
